html body {
    background-color: #1d1f21;
}

#test {
	width: 50%;
    margin: 0 auto;
}

.container {
    margin-top: 20px;
}

.card {
    width: 185px;
    height: 360px;
    background-color: #272a2c;
    border: 5px solid #1d1f21;
}

.card a {
    text-decoration: none;
}

.card:hover {
    background-color: #373b41;
}

.card-body {
    padding: 5px;
}

#image {
    width: 185px;
    height: 278px;
}

#title {
    font-size: 14px;
    word-wrap: break-word;
    color: #c5c8c6;
}

#release-date {
    font-size: 12px;
    color: #c5c8c6;
    position: absolute;
    bottom: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color:white;
}
.navbar-light .navbar-brand {
    color: white;
}