html body {
    background-color: #1d1f21;
}

#searchBar {
	width: 50%;
    margin: 0 auto;
}

#searchBar input {
    background-color: #1d1f21;
    border: 0px;
}

#searchBar button {
    background-color: #1d1f21;
    margin-left: 5px;
}
#searchBar button:hover {
    background-color: #16181a;
    margin-left: 5px;
}

#page-info {
    color: #c5c8c6;
}

.container {
    margin-top: 20px;
}

.card {
    width: 185px;
    height: 360px;
    background-color: #272a2c;
    border: 5px solid #1d1f21;
}

.card a {
    text-decoration: none;
}

.card:hover {
    background-color: #373b41;
}

.card-body {
    padding: 5px;
}

.card #image {
    width: 185px;
    height: 278px;
}

.card #title {
    font-size: 14px;
    word-wrap: break-word;
    color: #c5c8c6;
}

.card #release-date {
    font-size: 12px;
    color: #c5c8c6;
    position: absolute;
    bottom: 10px;
}
.navbar-light .navbar-nav .nav-link {
    color:#c5c8c6;
}
.navbar-light .navbar-brand {
    color: #c5c8c6;
}

.info-box {
    float: left;
    color: #c5c8c6;
}

.info-box #title {
    font-size: 30px;
}

.details-box {
    padding-left: 50px;
    color: #c5c8c6;
}

#similar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}